<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="unit testing">
	<test name="UI Testing">
		<classes>
			<class name="basics.Login" />
			<class name="basics.CheckBoxs" />
		</classes>
	</test> <!-- Test -->

	<test name="component testing">
		<classes>
			<class name="basics.Alerts">
			<methods>
				<exclude name="others.*"/>
			</methods>
			</class>
		</classes>
		

	</test>
</suite> <!-- Suite -->
